.profile {
  padding: 32px;
  background-color: #fff;
  /* flex: 1; */

}
.ui-input
{
    border:1px solid #ccc;
    border-radius: 10px;
}

.edit-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 16px;
  border: 1px solid black;
}

.input-column {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
border: 1px solid black;
}

.input-column input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button-row {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.button-row button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button-row button:last-child {
  background-color: #6c757d;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px); 
  overflow: hidden;
}

.sidebar {
  width: 240px;
  background-color: #f9f9f9;
}

.profile {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
  background-color: #fff;
    width: 100%;
  max-width: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
